*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main{
    height: 100%;
    width: 100%;
    /* background: red; */
}

#nav{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#nav-part2 h4{
    font-size: 16px;
    font-weight: 600;
}

#nav-part2 h4 span{
    color: blueviolet;
    margin-left: 10px;
}

.gola{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
}

#nav2{
    height: 70px;
    width: 100%;
    /* background-color: RED; */
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 0px 30px;
}

#nav2 h3{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 700;
}

#content{
    height: calc(100% - 150px);
    width: 100%;
    /* background-color: aquamarine; */
}

#text-content{
    height: 40%;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}

#text-content::-webkit-scrollbar-thumb{
    background-color: blueviolet;
}

.elem{
    flex-shrink: 0;
    height: 100%;
    width: 60%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem h1{
    font-size: 100px;
    font-weight: 400;
}

#image-content{
    height: 60%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    overflow-x: auto;
}

#image-content::-webkit-scrollbar{
    display: none;
}

#image-content img{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}